{% extends 'base.html' %}
{% load static %}

{% block title %}Видалити спільноту: {{ community.name }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/community/_community_form.css' %}"> {# Можна використати той самий стиль #}
    <link rel="stylesheet" href="{% static 'css/community/_community_form_dark.css' %}">
{% endblock %}

{% block content %}
<div class="main-container form-container delete-confirm-container">
    <h1 class="form-title">Підтвердження видалення</h1>
    <p class="delete-message">Ви впевнені, що хочете видалити спільноту "{{ community.name }}"?</p>
    <p class="delete-message warning">Ця дія є незворотною і призведе до видалення всіх дописів та даних, пов'язаних з цією спільнотою!</p>
    
    <form method="post" class="delete-form">
        {% csrf_token %}
        <button type="submit" class="submit-button delete-button">Видалити</button>
        <a href="{% url 'community:community_detail' community.pk %}" class="cancel-button">Скасувати</a>
    </form>
</div>
{% endblock %}