{% extends 'base.html' %}
{% load static %}

{% block title %}Вхід{% endblock %}

{% block content %}
<div class="auth-form-container"> {# Використовуй CSS клас для контейнера форми #}
    <h2>Вхід</h2>
    <form method="post">
        {% csrf_token %}
        {# AuthenticationForm за замовчуванням містить поля username та password #}
        {{ form.as_p }}
        <button type="submit">Увійти</button>
    </form>
    <p>Немає облікового запису? <a href="{% url 'users:register' %}">Зареєструватися тут</a>.</p>
</div>
{% endblock %}