/* SOCIAL_NETWORK/your_hub/static/css/core/_post_form_dark.css */

.dark-theme .custom-file-label {
    background-color: #444444;
    color: #f0f0f0;
    border-color: #666666;
}
.dark-theme .custom-file-label:hover {
    background-color: #555555;
}

.dark-theme #new-images-upload-container label {
    color: #aaaaaa;
}
.dark-theme .image-input-wrapper {
    border-color: #666666;
}
.dark-theme .btn-remove-input {
    background-color: #cc4444;
    color: #f0f0f0;
}
.dark-theme .btn-remove-input:hover {
    background-color: #ff5555;
}
.dark-theme .image-preview-container-single {
    border-color: #666666;
    background-color: #3a3a3a;
    color: #aaaaaa;
}

.dark-theme .existing-images-container {
    border-top-color: #666666;
}
.dark-theme .existing-images-container h3 {
    color: #aaaaaa;
}
.dark-theme .image-preview-wrapper {
    border-color: #666666;
}
.dark-theme .image-preview-wrapper .image-filename {
    color: #aaaaaa;
}
.dark-theme .image-preview-wrapper.deleted .image-filename {
    color: #777777;
}
.dark-theme .delete-image-button {
    background-color: #cc4444;
    color: #f0f0f0;
}
.dark-theme .delete-image-button:hover {
    background-color: #ff5555;
}
.dark-theme .image-preview-wrapper.deleted .delete-image-button {
    background-color: #6a8e3d;
}
.dark-theme .image-preview-wrapper.deleted .delete-image-button:hover {
    background-color: #7ba24e;
}

.dark-theme .add-another-button {
    background-color: #333333;
    color: #f0f0f0;
    border-color: #555555;
}
.dark-theme .add-another-button:hover {
    background-color: #444444;
    border-color: #666666;
}
